body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #06155c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    box-shadow: black solid black;
    border: #06155c;
}

input {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #0e0744;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #010c3f;
}

#results {
    margin: 20px;
    text-align: center;
}